apiVersion: v1
kind: Secret
metadata:
  name: {{ .Name }}-redis-initial-password
  namespace: {{ .Namespace }}
  labels:
    {{- range $key, $value := .Labels }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
type: Opaque
data:
  admin.password: {{ .Extra.PasswordBase64 }}
  auth: {{ .Extra.PasswordBase64 }}
  auth_username: {{ .Extra.UsernameBase64 }}
  users.acl: {{ .Extra.UsersACLBase64 }}
